
body {
  font-family: sans-serif;
  background-image: url('fundo.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0; /* Remove body margin for better responsiveness */
}

.container {
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.header {
  background-color: #e93d9c;
  border-radius: 10px;
  color: #fff;
  padding: 10px 5px;
  text-align: center;
}

.header h1 {
  margin: 0px;
  margin-top: 2px;
}

.content {
  display: flex;
  flex-direction: column; /* Stack elements vertically on small screens */
  margin-top: 10px;
}

.consulta-cpf,
.carteira-serasa {
  width: 100%; /* Make sections full width on mobile */
  margin: 5px 0; /* Adjust margin for vertical stacking */
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.consulta-cpf h2,
.carteira-serasa h2 {
  margin-top: 0;
}

.carteira-serasa span {
  font-weight: bold;
  color: red;
}

.opcao {
  max-width: 100%; /* Make section full width on mobile */
  border-radius: 10px;
  margin: 10px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.botoes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%; /* Make buttons full width on mobile */
}

.botoes h3 {
  font-size: 22px;
  margin-bottom: 15px;
}
